* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  height: 100svh;
  background: linear-gradient(
      to bottom, 
      rgba(255, 255, 255, 0) 70%, /* transparan di atas */
      white 100%                  /* putih di bawah */
    ),
    url('../assets/img/firefly.png') center/cover no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}